@import 'tailwindcss';

@theme {
  --font-poppins: Poppins, sans-serif;
  --font-inter: Inter, sans-serif;
  --font-nunito: Nunito, sans-serif;
  --font-switzer: Switzer, sans-serif;
  --font-outfit: Outfit, sans-serif;
  --font-public-sans: 'Public Sans', sans-serif;

  /* Define your colors directly as CSS variables */
  --color-primary-default: #000627;
  --color-secondary-default: #D3E97A;
  --color-accent: #FF5733;
  /* New custom color */

  /* Define font families */
  --font-heading: 'Roboto', sans-serif;
  --font-body: 'Open Sans', sans-serif;

  /* Define breakpoints (prefixed with --breakpoint- for screen variants) */
  --breakpoint-3xl: 1536px;

  /* Define font sizes (prefixed with --text- for text- utilities) */
  --text-clamped: clamp(1rem, 2vw + 1rem, 3rem);

  /* Spacing scale (can be used for px-*, mt-*, w-*, h-*, etc.) */
  --spacing: 0.25rem;
  /* 1 unit = 0.25rem; so --spacing * 4 = 1rem */
}

:root {
  font-family: Switzer, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  color: #505154;
  font-weight: 400;
  overflow-x: hidden;
}

html,
body {
  font-family: 'Poppins', sans-serif !important;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

p,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

.all__trans {
  transition: all ease-in-out;
  transition-duration: 350ms;
}

.slow__trans {
  transition: all ease-in-out;
  transition-duration: 500ms;
}